<div class="d-flex justify-content-center align-items-center container-404 flex-column">

  <h1 class="error-404-title">
    4<i class="fas fa-hamburger"></i>4
  </h1>

  <h5>The page you looking for was not found</h5>

  <LinkTo @route="index">Back to Home</LinkTo>
</div>
